#main--container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    padding: 5em;
}

#img--container {
    flex: 1  100%;
}

#img--container img {
    width: 100%;

    border-radius: 50%;
    border: .25em solid #CEB8FF;
}

#about--title {
    text-align: center;

    font-family: Space Mono, monospace;
    font-size: 2em;
    line-height: .15em;
}

#about--container {
    padding: 1.5em;
}

#about--container p {
    margin: 1.5em;
}

@media (max-width: 890px) {
    #main--container {
        flex-flow: column wrap;  
    }

    #about--title {
        font-size: 1.3em;
        line-height: .5em;
    }

    #img--container {
        display: flex;
        justify-content: center;
    }
    
    #img--container img {
        width: 50%;
    }
}

@media (max-width: 560px) {
    #about--title {
        line-height: 1em;
    }
}