*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
}

body {
  position: relative;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 300;
}

a,
a:active,
a:link,
a:visited {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  vertical-align: text-top;
  padding-bottom: 2px;
  position: relative;
  overflow: hidden;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: #a59aff;
  transition: all 0.5s;
}

@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  a::after {
    background-image: linear-gradient(to right, #CEC9FD, #a59aff);
  }
}
a:hover,
a:focus {
  text-decoration: none;
}
a:hover:after,
a:focus:after {
  transform: translateX(101%);
}

a.btn-outline {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #FFF;
  padding: 0.75rem 1.75rem;
  margin-top: 1rem;
  transition: all 0.25s;
}
a.btn-outline::after {
  display: none;
}
a.btn-outline:not(:last-of-type) {
  margin-right: 2rem;
}
a.btn-outline i {
  margin-left: 0.5rem;
  transition: all 0.25s;
}
a.btn-outline:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
a.btn-outline:hover i {
  margin-left: 1.5rem;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
}

h3 {
  font-size: 2.25rem;
  font-weight: 300;
  font-style: italic;
}

p {
  margin: 1.75rem 0;
}

.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  margin: 2.5rem;
  padding: 2rem;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  transition: all 0.25s;
  cursor: pointer;
}
.scroll-to-top:hover, .scroll-to-top:focus {
  transform: translateY(-0.25rem);
}
.scroll-to-top i {
  color: #CEC9FD;
}

@-webkit-keyframes anim-pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes anim-pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes anim-wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(-3deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes anim-wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(-3deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hidden {
  display: none;
}

.row {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.row-reverse {
  flex-direction: row-reverse;
}
.row ~ .row {
  padding-top: 5rem;
}
.row:not(:last-of-type) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 5rem;
}

.row .col-6 {
  width: 50%;
}

@media screen and (max-width: 48em) {
  body {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  a.btn-outline {
    width: 100%;
    text-align: center;
  }
  a.btn-outline:not(:last-of-type) {
    margin-bottom: 0;
  }
  a.btn-link:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  .scroll-to-top {
    margin: 0.5rem;
  }
  .row {
    flex-direction: column;
    gap: 2rem;
  }
  .row [class^=col] {
    width: 100%;
  }
}
.container {
  padding: 10rem;
  min-height: 100vh;
  height: auto;
}

.about {
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8rem;
       column-gap: 8rem;
}

.about__visuals {
  display: grid;
  place-items: center;
}
.about__visuals-border {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
  border: 3px solid #a59aff;
  border-radius: 1.6rem;
  transform: rotate(-5deg);
  z-index: 100;
}
.about__visuals-img {
  grid-row: 1;
  grid-column: 1;
  border-radius: 1.6rem;
  border: 3px solid #FFF;
  width: 100%;
  height: auto;
}
.about__visuals-caption {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-image: linear-gradient(to bottom, rgba(206, 201, 253, 0.5), rgba(165, 154, 255, 0.5));
  border-radius: 1.6rem;
  transition: all 0.5s;
  opacity: 0;
  display: grid;
  place-items: center;
}
.about__visuals:hover .about__visuals-caption {
  opacity: 1;
}
.about__visuals:hover .about__visuals-caption span {
  -webkit-animation-name: anim-pulsate;
          animation-name: anim-pulsate;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.about__text {
  width: 65rem;
}

.text-gradient {
  color: #CEC9FD;
  font-weight: 600;
}
.text-gradient:first-of-type {
  font-style: italic;
}

@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  .text-gradient {
    background-image: linear-gradient(to right, #CEC9FD, #a59aff);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
}
.about__heading {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 2rem;
}
.about__heading .emoji {
  display: inline-block;
}
.about__heading-emoji {
  font-size: 5rem;
}
.about__heading:hover .emoji {
  -webkit-animation-name: anim-wave;
          animation-name: anim-wave;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.tech {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.tech-icon {
  text-align: center;
  font-size: 3rem;
}
.tech-icon i {
  color: #CEC9FD;
  text-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}
.tech-icon p {
  margin: 0.5rem 0 0 0;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.projects {
  background-color: #1b1b1b;
}
.projects .heading {
  margin-bottom: 2rem;
}
.projects .heading p {
  display: block;
  font-size: 1.4rem;
  margin: 0 0 0.5rem 0;
}
.projects a.has-image {
  position: relative;
  border-radius: 0.5rem;
  line-height: 0;
  padding-bottom: 0;
}
.projects a.has-image:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #a59aff;
  mix-blend-mode: color;
  filter: brightness(0.8);
  transition: background-color 0.5s, mix-blend-mode 1s, filter 2s;
}
.projects a.has-image:after {
  display: none;
}
.projects a.has-image:hover::before {
  background-color: transparent;
  filter: none;
}
.projects img {
  width: auto;
  max-width: 100%;
  border-radius: 0.5rem;
}
.projects ul.tech-used {
  list-style: none;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-family: monospace;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 48em) {
  .container {
    flex-direction: column;
    height: auto;
    padding: 3rem;
  }
  .about__visuals {
    width: 20rem;
    height: 20rem;
  }
  .about__heading {
    margin-top: 1.5rem;
  }
  .about__text {
    width: 100%;
  }
  .projects .heading p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 25em) {
  .about__heading {
    flex-direction: row-reverse;
  }
}