main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    text-align: left;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    padding: .5em;

    background: #1D1D1D;
    color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer p {margin: 0;}

#footer--title {
    margin-right: auto;
}

#footer--links a {
    margin-right: 2em;

    color: whitesmoke;
    font-style: italic;
}

#footer--links a:last-child {
    margin-right: 0em;
}

#footer--links a:active {
    border-bottom: 3px solid #493fa1;
}

#footer--links a:hover {
    color: #7872c2;
}

@media (max-width: 390px) {
    footer {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    #footer--title {
        margin-right: 0em;
        margin-top: 1em;
        order: 1;
    }
    
    #footer--links a {
        margin-right: 0em;
    
        color: whitesmoke;
        font-style: italic;
        text-align: center;

        display: flex;
        flex-flow: column wrap;
    }
}