nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .btn {
    padding: 1em 2em;
    cursor: pointer;

    background: #CEB8FF;
    font: 1em Space Mono, 'monospace';
    letter-spacing: .15em;
    color: #000;

    border: .25em solid #AF8AFF;
    margin: 1em;
}

nav .btn:hover, nav .btn:focus {
    background: #AF8AFF;
}

.project {
    display: flex;
    align-items: center;

    margin: 1em;
    padding: 1em;
}

.project p {
    margin: 1.5em;
}

.project li {
    margin-left: 8em;
    list-style: none;

    font: 1em Space Mono, 'monospace';
}

.project li:before {
    content: '\2606';
    /* color: #AF8AFF; */
    margin-right: .5em;
}

.project img, .project iframe {
    border: .25em solid #FFF;
    box-shadow: .5em .5em #AF8AFF;
}

.project h2 {
    font: 1.5em Space Mono, 'monospace';
    color: #CEB8FF;
    text-align: center;
    text-shadow: 0 0 .25em rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

.project h4 {font-family: Space Mono, 'monospace'; text-align: center;}

#projects--container {
    height: 80vh;
    overflow-y: scroll;
}

#graphics--container, #misc--container {display: none;}

.img-container {margin-right: 2em;}
.img-container img {width: 600px;}

#m-one .img-container {width: 100%;}

#mobile-design img {width: 300px;}

.pdf {
    width: 40vw;
    height: 40vh;
}

.line-break {
    background: #AF8AFF;
    height: .5vh;
}

@media (max-width: 890px) {
    .project {
        flex-flow: column wrap;
        justify-content: center;

        margin: 0;
        padding: 0;
    }

    .img-container img {width: 100%;}

    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .pdf {
        width: 90vw;
        height: 50vh;
    }

    #m-one .img-container {width: auto;}

    .line-break {
        margin-bottom: 2em;
    }
}

@media (max-width: 580px) {
    nav {
        flex-flow: column;
    }

    nav .btn {
        margin: .5em;
        padding: .5em 1em;
    }
}