$border-radius: 1.6rem;
$grid-placement: 1 / 1;
$max-width: 100%;
$max-height: 100%;

.container {
   padding: 10rem;
   min-height: 100vh;
   height: auto;
}

.about {
   background-color: $color-grey;
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 8rem;
}

.about__visuals {
   display: grid;
   place-items: center;

   &-border {
      grid-row: $grid-placement;
      grid-column: $grid-placement;

      width: $max-width;
      height: $max-height;
      border: 3px solid $color-dark-purple;
      border-radius: $border-radius;
      transform: rotate(-5deg);
      z-index: 100;
   }

   &-img {
      grid-row: $grid-placement;
      grid-column: $grid-placement;

      border-radius: $border-radius;
      border: 3px solid $color-white;
      width: $max-width;
      height: auto;
   }

   &-caption {
      grid-row: $grid-placement;
      grid-column: $grid-placement;

      width: $max-width;
      height: $max-height;
      font-size: 2rem;
      background-image: linear-gradient(to bottom, rgba($color-light-purple, .5), rgba($color-dark-purple, .5));
      border-radius: $border-radius;
      transition: all .5s;
      opacity: 0;

      display: grid;
      place-items: center;
   }

   &:hover &-caption {
      opacity: 1;

      span {
         animation-name: anim-pulsate;
         animation-duration: 2s;
         animation-play-state: running;
         animation-iteration-count: infinite;
      }
   }
}

.about__text {
   width: 65rem;
}

.text-gradient {
   color: $color-light-purple;
   font-weight: 600;

   &:first-of-type {
      font-style: italic;
   }
}

@supports (background-clip: text) {
   .text-gradient {
      background-image: linear-gradient(to right, $color-light-purple, $color-dark-purple);
      background-clip: text;
      color: transparent;
   }
}

.about__heading {
   display: flex;
   column-gap: 1rem;
   margin-bottom: 2rem;

   .emoji {
      display: inline-block;
   }

   &-emoji {
      font-size: 5rem;
   }

   &:hover .emoji {
      animation-name: anim-wave;
      animation-duration: 2s;
      animation-play-state: running;
      animation-iteration-count: infinite;
   }
}

.tech {
   display: flex;
   column-gap: 3rem;

   &-icon {
      text-align: center;
      font-size: 3rem;

      i {
         color: $color-light-purple;
         text-shadow: 0 0 1rem rgba($color-white, .25);
      }

      p {
         margin: .5rem 0 0 0;
         text-transform: uppercase;
         font-size: 1.3rem;
      }
   }
}

// PROJECTS
.projects {
   background-color: $color-grey-2;

   .heading {
      margin-bottom: 2rem;

      p {
         display: block;
         font-size: 1.4rem;
         margin: 0 0 .5rem 0;
      }
   }

   a.has-image {
      position: relative;
      border-radius: .5rem;
      line-height: 0;
      padding-bottom: 0;

      &:before {
         content: '';
         position: absolute;
         width: 100%;
         height: 100%;
         background-color: $color-dark-purple;
         mix-blend-mode: color;
         filter: brightness(.8);
         transition: background-color .5s, mix-blend-mode 1s, filter 2s;
      }

      &:after {
         display: none;
      }

      &:hover {
         &::before {
            background-color: transparent;
            filter: none;
         }
      }
   }

   img {
      width: auto;
      max-width: 100%;
      border-radius: .5rem;
   }

   ul.tech-used {
      list-style: none;
      margin: 1rem 0;
      font-size: 1.2rem;
      font-family: monospace;
      text-transform: uppercase;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
   }
}

// 767px
@media screen and (max-width: 48em) {
   .container {
      flex-direction: column;
      height: auto;
      padding: 3rem;
   }

   .about__visuals {
      width: 20rem;
      height: 20rem;
   }

   .about__heading {
      margin-top: 1.5rem;
   }

   .about__text {
      width: 100%;
   }

   .projects {
      .heading {
         p {
            font-size: 1.4rem;
         }
      }
   }
}

// 400px
@media screen and (max-width: 25em) {
   .about__heading {
      flex-direction: row-reverse;
   }
}