$border-radius: 1.6rem;
$grid-placement: 1 / 1;
$max-width: 100%;
$max-height: 100%;

.container {
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 8rem;
   padding: 10rem;

   height: 100vh;
}

.about__visuals {
   display: grid;
   place-items: center;

   width: 42.1rem;
   height: 42.1rem;

   &-border {
      grid-row: $grid-placement;
      grid-column: $grid-placement;

      width: $max-width;
      height: $max-height;
      border: 3px solid $color-dark-purple;
      border-radius: $border-radius;
      transform: rotate(-5deg);
      z-index: 100;
   }

   &-img {
      grid-row: $grid-placement;
      grid-column: $grid-placement;

      border-radius: $border-radius;
      outline: 3px solid $color-white;
      width: $max-width;
      height: $max-height;
   }

   &-caption {
      grid-row: $grid-placement;
      grid-column: $grid-placement;

      width: $max-width;
      height: $max-height;
      font-size: 2rem;
      // background-color: rgba($color-light-purple, .75);
      background-image: linear-gradient(to bottom, rgba($color-light-purple, .5), rgba($color-dark-purple, .5));
      // filter: hue-rotate(45deg);
      border-radius: $border-radius;
      transition: all .5s;
      opacity: 0;

      display: grid;
      place-items: center;
   }

   &:hover &-caption {
      opacity: 1;

      span {
         animation-name: anim-pulsate;
         animation-duration: 2s;
         animation-play-state: running;
         animation-iteration-count: infinite;
      }
   }
}

.about__text {
   width: 65rem;
}

.text-gradient {
   color: $color-light-purple;
   font-weight: 600;

   &:first-of-type {
      font-style: italic;
   }
}

@supports (background-clip: text) {
   .text-gradient {
      background-image: linear-gradient(to right, $color-light-purple, $color-dark-purple);
      background-clip: text;
      color: transparent;
   }
}

.about__heading {
   display: flex;
   column-gap: 1rem;
   margin-bottom: 2rem;

   .emoji {
      display: inline-block;
   }

   &-emoji,
   h1 {
      font-size: 5rem;
      font-weight: 300;
   }

   h2 {
      font-size: 3rem;
      font-weight: 300;
   }

   &:hover .emoji {
      animation-name: anim-wave;
      animation-duration: 2s;
      animation-play-state: running;
      animation-iteration-count: infinite;
   }
}

.tech {
   display: flex;
   column-gap: 3rem;

   &-icon {
      text-align: center;
      font-size: 3rem;

      i {
         color: $color-light-purple;
         text-shadow: 0 0 1rem rgba($color-white, .25);
      }

      p {
         margin: .5rem 0 0 0;
         text-transform: uppercase;
         font-size: 1.3rem;
      }
   }
}

.btn-resume {
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 600;

   border: 2px solid $color-white;
   padding: .75rem 1.75rem;
   margin-top: 1rem;
   transition: all .25s;

   &::after {
      display: none;
   }

   i {
      margin-left: .5rem;
      transition: all .25s;
   }

   &:hover {
      background-color: rgba($color-white, .25);

      i {
         margin-left: 1.5rem;
      }
   }
}

// 1080px
@media screen and (max-width: 67.5em) {
   .container {
      flex-direction: column;
      text-align: center;
      height: auto;
      padding: 3rem;
   }

   .about__visuals {
      width: 20rem;
      height: 20rem;
   }

   .about__heading {
      display: block;
      margin-top: 1.5rem;

      h1 {
         font-size: 3.5rem;
      }

      h2 {
         font-size: 2.5rem;
      }
   }

   .about__text {
      width: auto;
   }

   .tech {
      justify-content: center;
   }
}